body{
  @apply dark:bg-dark text-gray-dark  dark:text-white
}

* {
  @apply font-lato transition ease-out duration-500;
}

/* scroll bar */

::-webkit-scrollbar {
  @apply w-1 h-1
}
::-webkit-scrollbar-button {
  @apply w-0 h-0
}
::-webkit-scrollbar-thumb {
  @apply bg-theme
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-blue
}
::-webkit-scrollbar-thumb:active {
  @apply bg-green
}
::-webkit-scrollbar-track {
  @apply rounded-full bg-gray-dark
}
::-webkit-scrollbar-track:active {
  @apply bg-theme
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.display-none{
  @apply hidden;
}

#scroll-up {
    height: 40px;
    width: 40px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    font-size: 20px;
    /* border-radius: 50%; */
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
    @apply bg-theme text-white
  }
#theme-button {
    height: 40px;
    width: 40px;
    right: 90px;
    bottom: 18px;
    position: fixed;
    font-size: 20px;
    /* border-radius: 50%; */
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
    @apply dark:bg-theme bg-dark text-white
  }


  /* for multistem from in step controller */
.container{
  padding-inline: 100px !important;
}
.container .title{
  @apply dark:text-white font-lato
}
.container .circle{
  @apply bg-gray-dark border-gray
}
.container .circleActive{
  @apply bg-main-dark border-main
}
.container .formContainer{
  @apply my-auto
}
.container .stem{
  @apply bg-gray
}
.container .stemActive{
  @apply bg-main
}
.containerMobile .stepContainerMobile{
  @apply justify-center
}
.containerMobile .title{
  @apply dark:text-white font-lato
}
.containerMobile .circleMobile{
  @apply bg-gray-dark border-gray
}
.containerMobile .circleActive{
  @apply bg-main-dark border-main
}
.containerMobile .stemMobile{
  @apply bg-gray
}
.containerMobile .stemActive{
  @apply bg-main
}
.buttonsContainer .nextButton{
  @apply bg-main rounded-sm hover:bg-main-dark uppercase font-lato
}
.buttonsContainer .backButton{
  @apply bg-gray rounded-sm hover:bg-gray-dark no-underline text-white px-5 text-base font-bold font-lato
}
